p.more {float: right; margin-top: -20px; margin-right: 1em}


body > div:nth-child(2) > div > article > p:nth-child(4) {font-style: italic; font-size: 120%}
code {color: black}

article img {margin-bottom: 1em}

img.thumb {margin: 0.25em 1em; }

img.thumb left {float: left}
img.thumb right {float: right}

ul.tags a:hover {color: white; }
ul.tags a:visited {color: white; }

article time {
    font-weight: light;
    font-size: 90%; display: block; padding-bottom: 1em; color: rgb(0,121,161);
}