body
{
margin: 0;
padding: 0;
font-family: Candara, "News Gothic MT",  "Bitstream Vera Sans", Verdana, Trebuchet, "Trebuchet MS",  sans-serif;
color: #000;
background-color: white;
}

#container
{
margin: 0;
background-color: #fff;
}

#banner
{
background-image: url(graphics/banner.jpg);
background-repeat: no-repeat;
background-position: center right;
background-color: #fff;
border-bottom: 4px solid #d0d0d0;
}

#banner h1
{
margin: 0;
padding: .5em;
}

#nav
{
float: left;
width: 160px;
margin-left: 10px;
padding-top: 1em;
}

#nav p { margin-top: 0; }

#content
{ 
padding-top: 1em;
margin: 0 2em 0 200px;
}

#content h2 { margin-top: 0; }
  

#footer
{
clear: both;
padding: 1em;
text-align: right;
border-top: 4px solid #d0d0d0;
}
