{% extends "contentonly.j2" %}

{% block section -%}
<article class="post">

<h1 class="title">
    <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h1>
{% if resource.meta.tags %}
<ul class="tags clear inline-list">
{% for tag in resource.meta.tags %}
<li>
    <a class="label round" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{% if resource.meta.tags %}
<h4>Tags</h4>
<ul class="tags clear inline-list">
{% for tag in resource.meta.tags %}
<li>
    <a class="label round" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}


<nav class="post_nav">
<a class="backlink" href="{{ content_url(resource.node.url) }}">Back to writing index</a>
</nav>
</article>

{%- endblock %}