<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Barry Rowlingson{% endblock title %}</title>
    <link rel="stylesheet" href="media/css/foundation.css" />
    <script src="media/js/modernizr.js"></script>
  </head>
  <body>
{% block body %}
Hi
{% endblock body %}  
<script src="media/js/jquery.js"></script>
<script src="media/js/foundation.min.js"></script>
<script>
  $(document).foundation();
  
  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);
</script>
  </body>
</html>
