{% extends "foundation.j2" %}
{% block body %}
<div class="row">
  <div class="large-3 columns">
    <h1><img src="/media/img/logo.png" /></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><a href="/index.html" class="button">Home</a></li>
      <li><a href="/work.html" class="button">Work</a></li>
      <li><a href="/life.html" class="button">Life</a></li>
      <li><a href="/contact.html" class="button">Contact</a></li>
    </ul>
  </div>
</div>

{% block content %}

{% endblock content %}
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Barry Rowlingson.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="siteinfo.html">Site Info</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
{% endblock body %}
