{% extends  "contentonly.j2" %}
{% block title %}
Barry Rowlingson - Contact Details
{% endblock title %}
{% block section %}
<h1>Contact Details</h1>
<p>Here is a list of contact details and web profile pages where you will find me.</p>
<ul class="no-bullet">
<li>Email: <a href="mailto:b.rowlingson@gmail.com">b.rowlingson@gmail.com</a></li>
<li>Fediverse (the nerdy social network): <a href="https://mastodon.social/@geospacedman">@geospacedman</a></li>
<li>BlueSky (the normie social network):<a href="https://bsky.app/profile/geospacedman.bsky.social">@geospacedman.bsky.social</a></li>
<li>LinkedIn (the professional social network): <a href="https://www.linkedin.com/in/barryrowlingson/">barryrowlingson</a></li>
</ul>
<p>
If you want my <em>home</em> or <em>personal</em> contact details (address, phone number) then
send me an email and you might get them.
</p>
{% endblock section %}


