{% extends  "contentonly.j2" %}
{% block title %}
Barry Rowlingson - Contact Details
{% endblock title %}
{% block section %}
<h1>Contact Details</h1>
<p>Here is a list of contact details and web profile pages where you will find me.</p>
<ul class="no-bullet">
<li>Email: <a href="mailto:b.rowlingson@gmail.com">b.rowlingson@gmail.com</a></li>
<li>Twitter: <a href="https://twitter.com/geospacedman">@geospacedman</a></li>
<li>Work Telephone: +44 1524 592273</li>
<li>Office: B29 Furness College, Lancaster University, Lancaster, LA1 4YG, UK</li>
<li>Flickr: <a href="http://www.flickr.com/photos/spacedman/">spacedman</a></li>
<li>StackOverflow: <a href="http://stackoverflow.com/users/211116/spacedman">spacedman</a></li>
</ul>
<p>
If you want my <em>home</em> or <em>personal</em> contact details (address, phone number) then
send me an email and you might get them.
</p>
{% endblock section %}


