{% extends "topbottom.j2" %}

{% block title %}Barry Rowlingson's Home Page{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
{% endblock extrahead %}

{% block bodyfoot %}
<script src="/media/maps/research.geojson"></script>
<script src="/media/maps/teaching.geojson"></script>
<script src="/media/maps/travel.geojson"></script>
<script src="/media/js/maphome.js"></script>
{% endblock bodyfoot %}

{% block content %}
 
<!-- map -->
 <hr/>

<div class="row">
  <div class="large-4 columns">
<h1>My World</h1>
<p>This is a map of locations important to my research, teaching, and travel. Explore my world.</p>
</div>
<div class="large-8 columns">
    <div id="map" style="height: 300px">

    </div>
    
  </div>
</div>
    <hr />

<!-- Three-up Content Blocks -->
 
<div class="row">
  <div class="large-4 columns">
    <img style="float:right" src="/media/img/work.png" />
    <h4><a href="work.html">My Work</a></h4>
    <p>
I am a Research Fellow in the <a href="http://www.lancaster.ac.uk/shm/divisions/med/">Lancaster Medical School</a>, part of the <a href="http://www.lancaster.ac.uk/fhm">Faculty of Health and Medicine</a> at Lancaster University. Before that I worked in the <a href="http://www.maths.lancs.ac.uk">Department of Mathematics and Statistics</a>. I research into statistical applications in epidemiology and other health-related areas.
</p>
<p class="more"><a href="work.html">more...</a></p>
  </div>
    
  <div class="large-4 columns">
    <img  style="float:right" src="/media/img/life.png" />
    <h4><a href="life.html">My Life</a></h4>
    <p>
I play assorted instruments, take pictures in exotic places, and drive an old Land Rover. Here's all the 
things about me that aren't work-related.
</p>
<p class="more"><a href="life.html">more...</a></p>
  </div>
    
  <div class="large-4 columns">
    <img style="float:right" src="/media/img/dailybaz.png" />
    <h4><a href="/blog">My News</a></h4>
    <p>
You'll find my latest blog entries here - occasional musings intended to keep this page alive and interesting.
</p>
<p class="more"><a href="/blog">more...</a></p>
  </div>
  
</div>

<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">
      
    <div class="panel">
      <h4>Get in touch!</h4>
        
      <div class="row">
        <div class="large-9 columns">
          <p>My email is <a href="mailto:b.rowlingson@gmail.com">b.rowlingson@gmail.com</a>, but you can find me on twitter and various other places.</p>
        </div>
        <div class="large-3 columns">
          <a href="contact.html" class="radius button right">Contact Details</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
 
 
{% endblock content %}
