{% extends "contentonly.j2" %}
{% block title %}Barry Rowlingson - Life{% endblock title %}
{% block section %}
<h1>My Life</h1>

<h2>Music</h2>
<p>
<img class="thumb right" src="/media/img/bass300.jpg" />
I started playing music when I bought a little Yamaha PSS-680 keyboard,
plugged it into my Atari 520ST computer, and sequenced little tunes. I
later expanded my sound palette with a Kawaii K4r rack synth.
</p>
<p>
After jamming with a few friends and deciding to form a band, I
realised my keyboard skills would never be enough for performance,
so I bought a bass guitar and taught myself to play that.
</p>
<p>
I've played bass with a few groups and bands, the ones people
probably remember are The Folkin' Eejits and Monkey Bucket. The Eejits
were an irish folk-rock band playing very untraditional versions
of traditional songs, and we recorded one album. The band was probably
better known for its antics than its music. Monkey Bucket played original 
comedy songs and recorded four albums. Our final gig was a sell-out
performance.
</p>
<p>
I've also done a lot of music production work, live audio PA/mixing, and
sound editing.  My latest endeavour has been learning to play drums, 
including having my first ever music lessons since school!
</p>

<hr/>

<h2>Photography</h2>

<p>
<img class="thumb right" src="/media/img/dandelion150.jpg" />
I'm now on my second digital SLR camera, having worn out my first one
after about six years of heavy use. Before that I had a Pentax 35mm film
SLR, and I also have a Sony DV camera on which I've shot a few videos.
</p>
<p>
<img class="thumb left"  src="/media/img/corset200.jpg" />
Once I got my first DSLR my photography skills rapidly expanded. In
that time I've created photo books, calendars, sold cards in a local
shop, and had a small gallery show in a Lancaster cafe. I've created a
more professional-looking website
at <a href="http://www.rowlingson.com">www.rowlingson.com</a> and 
I update my <a href="http://www.flickr.com/photos/spacedman">flickr</a>
page with new pictures.
</p>
<hr/>
<h2>Travel</h2>
<p>
<img class="thumb left"  src="/media/img/monkey150.jpg" />
Where to next? My <a href="travel.html">travel</a> pages have more
information about some of my trips in the UK and abroad, including 
Japan, Oman, Australia and Alaska. You'll find galleries and mini-websites
with trip diaries and writings.
</p>
<hr/>
<h2>Car</h2>
<p>
<img src="/media/img/boo200.jpg" class="thumb right" />
So I passed my driving test not very long ago, having been
happy to cycle everywhere for long enough. My first car is 
a blue Series 3 Diesel Land Rover, made in 1983 in Solihull.
Named "Boo" after our old family dog, I still cycle to work 
every day, so Boo is pretty low milage. Noisy and slow, its
not the ideal car for long trips, but I have travelled the length 
and England and the breadth of Ireland.
</p>
<p>
<img src="/media/img/boo200b.jpg" class="thumb left" />
If you want the technical details, Boo is a 1983 Series 3 Land Rover
station wagon (6 seater). Power comes from a 2250cc diesel engine
via a four-speed gearbox with high and low range, overdrive unit,
and selectable two- or four-wheel drive. 

</p>
{% endblock %}
