{% extends "contentonly.j2" %}
{% block title %}
Site Info
{% endblock title %}
{% block section %}
<h1>Site Information</h1>
<p>
This web site is built using:
<ul>
<li>Hyde, a python static site generator</li>
<li>Zurb Foundation, a CSS and JS framework</li>
<li>Github pages for hosting</li>
<li>Leaflet for web mapping</li>
<li>QGIS for spatial data handling</li>
</ul>
</p>
<h1>Comments and Corrections</h1>
<p>
Comments, corrections, complaints etc are welcome - please submit 
a <a href="https://github.com/spacedman/barry/issues">github issue</a> or email 
if confidential.
</p>

{% endblock section %}
