{% extends "contentonly.j2" %}
{% import "parts.html" as parts %}
{% block title %}Barry Rowlingson - Teaching{% endblock title %}
{% block section %}
<h1>Teaching Work</h1>

{% call parts.articleRight('Teaching at Lancaster',  'lancaster.jpg','lancaster') %}
<p>Although I'm funded through research grant income, I still do some teaching at Lancaster. 
Recently I delivered an MSc module on Environmental Epidemiology for the MSc Statistics students,
and a lecture and workshop for a Biology course on computer modelling of disease spread.
</p>
<p>
This year I was invited to give a lecture on Open Source GIS to the third year undergraduate
GIS students after the previous year's cohort asked the course convener to include it as a topic
for future students.
</p>
{% endcall %}
{% call parts.articleLeft('R Workshops for Stafford University',  'stafford.png','stafford') %}
<p>
Staffordshire University is a growing institution with campuses in Stoke and Stafford. Their 
home for science is the impressive new building on the Stoke campus. After chatting to John 
Dover at his inaugural lecture, I was asked to do some workshops on R for staff and students,
to introduce them to the possibilities of going beyond what they can do in spreadsheet packages
and proprietary statistics software. The <a href="http://www.maths.lancs.ac.uk/~rowlings/Teaching/Stafford2013-Sept/">notes
and presentations</a> are online.
</p>
{% endcall %}
{% call parts.articleRight('Spatial R for Ecology',  'sheffield.png','sheffield') %}
<p>
I was asked by the Macroecology group of the British Ecology Society to deliver some training on
spatial analysis in R at their 2013 meeting in Sheffield. This was a full-day workshop, and 
included practical sessions and a chance for the 80 or so delegates to explore their own data.
The  <a href="http://www.maths.lancs.ac.uk/~rowlings/Teaching/Sheffield2013/index.html">workshop notes are online</a> and
licensed under a creative commons license.
</p>
{% endcall %}
{% call parts.articleLeft('Spatial Workshop',  'user2012.png','user2012') %}
<p>
The workshop sessions before the annual UseR! meetings are always popular. I was accepted to 
present a half-day session on Spatial Data Handling in R at the <a href="http://biostat.mc.vanderbilt.edu/wiki/Main/UseR-2012">UseR! 2012 Meeting</a> in Nashville.
</p>
<p>There was a good attendance at the workshop, and it was a great opportunity to talk to a number of end-users of 
spatial R software and get ideas for the further development of packages.
</p>
{% endcall %}
{% call parts.articleRight('Google Summer of Code Mentoring',  'google.jpg','gsoc') %}
<p>
Every northern hemisphere summer Google fund a number of open source development studentships under their "Google Summer of Code" (GSOC) flag. These
are mainly targeted at students on their summer break. Most of the major open source applications bid for studentships, and match
students with mentors who guide the student and assess their progress. 
</p>
<p>
I've mentored two GSOC students for developing R packages for statistical analysis. As you can see from the picture I have literally done that, been there, and got the t-shirt. Actually the t-shirt and the good feeling of helping a student progress in their skills are the only rewards
for mentors!
</p>
{% endcall %}
{% call parts.articleLeft('SFU Spatial Statistics Summer School',  'sfu.png','sfu') %}
{% endcall %}
{% call parts.articleRight('Open Source Geospatial',  'osgeoworkshops.png','osgeoworkshops') %}
{% endcall %}
{% call parts.articleLeft('The Quest Project',  'quest.png','quest') %}
{% endcall %}

{% endblock section %}
