{% extends "contentonly.j2" %}
{% import "parts.html" as parts %}
{% block title %}Barry Rowlingson - Teaching{% endblock title %}
{% block section %}
<h1>Teaching Work</h1>

{% call parts.articleRight('Teaching at Lancaster',  'lancaster.png','lancaster') %}
{% endcall %}
{% call parts.articleRight('R Workshops for Stafford University',  'stafford.png','stafford') %}
{% endcall %}
{% call parts.articleRight('Spatial R for Ecology',  'sheffield.png','sheffield') %}
{% endcall %}
{% call parts.articleRight('Spatial Workshop',  'user2012.png','user2012') %}
{% endcall %}
{% call parts.articleRight('Google Summer of Code Mentoring',  'gsoc.png','gsoc') %}
{% endcall %}
{% call parts.articleRight('SFU Spatial Statistics Summer School',  'sfu.png','sfu') %}
{% endcall %}
{% call parts.articleRight('Open Source Geospatial',  'osgeoworkshops.png','osgeoworkshops') %}
{% endcall %}
{% call parts.articleRight('The Quest Project',  'quest.png','quest') %}
{% endcall %}

{% endblock section %}
