{% extends "contentonly.j2" %}
{% import "parts.html" as parts %}
{% block title %}Barry Rowlingson - Travel{% endblock title %}
{% block section %}
<h1>Travels</h1>
<p>
I've seen quite a few places in the world, and there are still lots of 
places to see. Here you will find a few photo galleries and 
diary mini-websites from some of my trips.
</p>
{% call parts.articleLeftLink('California','travel/california.jpg','california','http://www.flickr.com/photos/spacedman/sets/72157639891361436') %}
<p>
In 2012 Olivia and I went to the UseR! conference in Nashville, and then hopped
over to the west coast for a few days in San Francisco and Monterey, visiting a
friend from the Earthwatch Sea Otter project who now lives there. We visited the
Computer Museum, went half-way across the Golden Gate bridge, and went kayaking with
the sea otters of Elkhorn Slough. Pictures from this trip are on this flickr set.
</p>
{% endcall %}

{% call parts.articleRightLink('Driving Across Ireland','travel/ireland.jpg','ireland','http://www.flickr.com/photos/spacedman/sets/72157639907231923') %}
<p>
A freighter took me, Olivia, and my land rover across from Heysham to Dublin. After a 
statistics conference we headed off into the west, eventually finding a 
campsite right on the edge of the world, the next land being the USA. On the way back
we stopped in the mountains and took in the scenery.
</p>
{% endcall %}

{% call parts.articleLeftLink('Oman Desert Adventure','travel/oman.jpg','oman','http://www.maths.lancs.ac.uk/~rowlings/Photographs/OmanDiary/') %}
<p>
A trip to visit a Taeko in Oman. There were a lot of turtles. We saw the adult females
laying eggs, newborn babies making their way to the sea, and watched them in their 
natural habitat while we were snorkelling. Away from the cooling sea, we spent a day
on camels heading for a remote desert camp.
</p>
{% endcall %}

{% call parts.articleRightLink('Japan','travel/japan.jpg','japan','http://www.maths.lancs.ac.uk/~rowlings/Photographs/Japan/') %}
<p>
I flew out to Japan while Taeko was out there teaching and spent a few days travelling on my own
and we had a few trips out together. Highlights were the snow monkeys, the overnight in the
Buddhist temple, and my first earthquake.
</p>
{% endcall %}

{% call parts.articleLeftLink('Sea Otters of Alaska','travel/alaska.jpg','seaotters','http://www.maths.lancs.ac.uk/~rowlings/Otters/cdrom/Website/index.html') %}
<p>
This was my trip of a lifetime. After discovering sea otters on a trip to California, I knew
I wanted to go back and work with them. So the opportunity of doing fieldwork for an
Earthwatch project was something I was not going to pass up. I spent ten days with
scientists and other volunteers living in a remote camp in Alaska, watching and
surveying the sea otters and other wildlife.
</p>
<p>
For this trip I took a video camera, and made a short film which was shown at an Earthwatch
meeting in Oxford and used by the project team in Alaska to show volunteers
what to expect! I have it on DVD if anyone wants to watch it. It was a labour of love.
</p>
{% endcall %}

{% call parts.articleRightLink('The Ridgeway - The Ancient Track','travel/ridgeway.jpg','ridgeway','http://www.maths.lancs.ac.uk/~rowlings/Photographs/Ridgeway/') %}
<p>
The Ridgeway Long Distance Path is an ancient way across southern England. The first
half is footpath, but the second half is accessible to cyclists, and terminates
at the massive stone circle of Avebury. Along the way we saw other remnants of ancient
Britain - the chalk white horse of Uffington, the burial chamber of Wayland's Smithy, 
and also found ourselves in a modern manifestation - a crop circle!
</p>
{% endcall %}

{% call parts.articleLeftLink('Morocco Overland','travel/morocco.jpg','morocco','http://www.maths.lancs.ac.uk/~rowlings/Morocco/') %}
<p>
"Hey Baz, want to go to Morocco?". "Uh, okay Sam". That was the start of an adventure that
led to me rattling along a desert track somewhere near the Algerian border in an ex-Royal Marine 
Land Rover called Elsa.
</p>
{% endcall %}

{% call parts.articleRightLink('Aussie Adventures','travel/australia.png','australia','http://www.maths.lancs.ac.uk/~rowlings/Perth/Pictures/') %}
<p>
After working with Adrian Baddeley in Perth for three weeks, I was ready for some travels. So it
was onto the backpacker bus up the coast to the coral seas of the North West Cape, and
then again down south to the more delicate countryside of the wine-growing regions
of the Margaret River. This website has a collection of pictures from my trip. Note they are 
fairly low resolution since I took a video camera and made a short film.
</p>
{% endcall %}


{% endblock %}
