{% extends "contentonly.j2" %}
{% import "parts.html" as parts %}
{% block title %}Barry Rowlingson - Travel{% endblock title %}
{% block section %}
<h1>Travels</h1>

{% call parts.articleRightLink('California','travel/california.jpg','california','http://www.flickr.com/photos/spacedman/sets/72157639891361436') %}
<p>
across the andes by frog!
</p>
{% endcall %}


{% call parts.articleLeftLink('Oman Desert Adventure','travel/oman.jpg','oman','http://www.maths.lancs.ac.uk/~rowlings/Photographs/OmanDiary/') %}
<p>
across the andes by frog!
</p>
{% endcall %}

{% call parts.articleRightLink('Japan','travel/japan.jpg','japan','http://www.maths.lancs.ac.uk/~rowlings/Photographs/Japan/') %}
<p>
across the andes by frog!
</p>
{% endcall %}

{% call parts.articleLeftLink('Sea Otters of Alaska','travel/alaska.jpg','seaotters','http://www.maths.lancs.ac.uk/~rowlings/Otters/cdrom/Website/index.html') %}
<p>
across the andes by frog!
</p>
{% endcall %}

{% call parts.articleRightLink('The Ridgeway - The Ancient Track','travel/ridgeway.jpg','ridgeway','http://www.maths.lancs.ac.uk/~rowlings/Photographs/Ridgeway/') %}
<p>
across the andes by frog!
</p>
{% endcall %}

{% call parts.articleLeftLink('Morocco Overland','travel/morocco.jpg','morocco','http://www.maths.lancs.ac.uk/~rowlings/Morocco/') %}
<p>
across the andes by frog!
</p>
{% endcall %}

{% call parts.articleRightLink('Aussie Adventures','travel/australia.png','australia','http://www.maths.lancs.ac.uk/~rowlings/Perth/Pictures/') %}
<p>
across the andes by frog!
</p>
{% endcall %}


{% endblock %}
