{% extends "contentonly.j2" %}
{% block title %}Barry Rowlingson - Work{% endblock title %}

{% block section %}
<h1>My Work</h1>

<div class="row">
<div class="small-6 columns">
<h2><a href="research.html">Research</a></h2>
<p>
My first research job was an ESRC-funded project on integrating
spatial statistics with GIS, with applications in disease epidemiology.
We explored ways of putting advanced spatial statistics into a GIS,
but with the lack of even simple statistics in the GIS, we ended up
putting spatial statistics into a statistics system.
</p>
<p>
Since then I have worked on <a href="research.html">many other projects</a>, most of them
applied data analysis combined with software development. I work closely
with data providers and scientists to understand and model their data
appropriately, and to produce results they can interpret in order to
answer their research questions.
</p>
</div>
<div class="small-6 columns">
<h2><a href="teaching.html">Teaching</a></h2>
<p>About teaching</p>
</div>
</div>

<div class="row">
<div class="small-12 columns">
<h2>Other Activities</h2>
<p>OSGeo, SSI Fellowship, Quest, etc</p>
</div>
</div>

{% endblock section %}

