{% extends "contentonly.j2" %}
{% block title %}Barry Rowlingson - Work{% endblock title %}

{% block section %}
<h1>My Work</h1>

<div class="row">
<div class="small-6 columns">
<h2><a href="research.html">Research</a></h2>
<p>
My first research job was an ESRC-funded project on integrating
spatial statistics with GIS, with applications in disease epidemiology.
We explored ways of putting advanced spatial statistics into a GIS,
but with the lack of even simple statistics in the GIS, we ended up
putting spatial statistics into a statistics system.
</p>
<p>
Since then I have worked on <a href="research.html">many other projects</a>, most of them
applied data analysis combined with software development. I work closely
with data providers and scientists to understand and model their data
appropriately, and to produce results they can interpret in order to
answer their research questions.
</p>
<p class="more"><a href="research.html">more...</a></p>
</div>
<div class="small-6 columns">
<h2><a href="teaching.html">Teaching</a></h2>
<p>Most of my teaching is geared towards running workshops and training in spatial data
and analysis for Masters', PhD, and postdoctoral studies. I've been invited to teach
at summer schools and have participated as a mentor in two Google "Summer of Code" 
projects.
</p>
<p class="more"><a href="teaching.html">more...</a></p>
</div>
</div>

<div class="row">
<div class="small-12 columns">
<h2 id="other">Other Activities</h2>
<h3>Software Development</h3>
<p>
I've been writing software for spatial data and statistics for over twenty years, initially with 
S and Fortran, gaining experience with Unix systems and tools, and now I consider myself
a strong programmer in <a href="http://www.r-project.org/">R</a> and <a href="http://www.python.org/">Python</a>,
as well as competent in C and Javascript. I've written and contributed to several of the add-on R packages
for spatial data and authored plugins for <a href="http://www.qgis.org/">QGIS</a>, the leading open-source desktop GIS package.
</p>
<p>
I spent three weeks working in Perth with Adrian Baddeley on integrating some of my code into
his <code>spatstat</code> package, and working on the fundamental ideas of spatial data in R.
</p>
<h3>OSGeo</h3>
<p>
As a developer of open-source geospatial software, I am active in
the <a href="http://www.osgeo.org/">Open Geospatial Foundation</a>,
and was part of the team that brought the international <a href="http://2013.foss4g.org/">FOSS4G</a>
conference to the UK for the first time.
</p>

<h3>SSI Fellowship</h3>
<p>The <a href="http://software.ac.uk/">Software Sustainability Institute</a> have a fellowship
programme to promote the aims of the institute - producing high quality sustainable software 
environments for reproducible research. I was awarded one of the 2013 fellowships and continue to
promote the goals of the institute by stressing the importance of 'open' in  research
whenever I can. I encourage researchers to publish their code, use reproducible research tools
for their benefit as well as others, and consider using only open-source tools in their work.</p>
</div>
</div>

{% endblock section %}

