{% extends "contentonly.j2" %}
{% block title %}Barry Rowlingson - Work{% endblock title %}

{% block section %}
<h1>My Work</h1>
<p>
This is an outline about work.
</p>

<hr/>

<article>
<div class="row">
<div class="large-12 columns">
<h3>Modelling Childhood Malaria in The Gambia</h3>
</div>
</div>
<div class="row">
<div class="medium-3 columns medium-push-9">
<img  src="http://placehold.it/300x200&text=[img]" />
</div>
<div class="medium-9 medium-pull-3 columns">
<p>Using model-based geostatistics we looked at the prevalence of 
malaria in children in The Gambia. 
</div>
</div>
</article>
<hr/>

<article>
<div class="row">
<div class="large-12 columns">
<h3>Meningitis Prediction</h3>
</div>
</div>
<div class="row">
<div class="medium-3 columns">
<img  src="http://placehold.it/300x200&text=[img]" />
</div>
<div class="medium-9 columns">
<p>this is all about that thing</p>
<p>This is some more thing</p>
</div>
</div>
</article>
<hr/>

<article>
<div class="row">
<div class="large-12 columns">
<h3>Loaloa treatment risk mapping</h3>
</div>
</div>
<div class="row">
<div class="medium-3 columns">
<img  src="http://placehold.it/300x200&text=[img]" />
</div>
<div class="medium-9 columns">
<p>this is all about that thing</p>
<p>This is some more thing</p>
</div>
</div>
</article>
<hr/>

<article>
<div class="row">
<div class="large-12 columns">
<h3>Mapping English Prescription Spending</h3>
</div>
</div>
<div class="row">
<div class="medium-3 columns">
<img  src="http://placehold.it/300x200&text=[img]" />
</div>
<div class="medium-9 columns">
<p>this is all about that thing</p>
<p>This is some more thing</p>
</div>
</div>
</article>
<hr/>



{% endblock section %}

